In [1]:
print("Hola, mundo")

Hola, mundo

## Mi primer   programa en phyton

#### Y mi segundo programa de prueba
Usamos varios print a ver que sucede

In [2]:
print("Hola a todos")
print("Bienvenidos al curso de phyton")
print("Aquí se acaba el ejemplo")

Hola a todos
Bienvenidos al curso de phyton
Aquí se acaba el ejemplo

## EXPRESIONES

In [3]:
print("2+2 son",2+2)

2+2 son 4

In [4]:
2+2

4

In [5]:
print(2+2)
print(3*14)

4
42

In [6]:
print(2**10)
print(2**10/2)

1024
512.0

In [7]:
2 > 3

False

In [8]:
not 3>2

False

In [9]:
3>2

True

In [10]:
"a" in "Hola"

True

In [11]:
21%4

1

In [12]:
21/4

5.25

In [13]:
print ("Jorge", "17-01-1994")

Jorge 17-01-1994

### Expresiones Matematicas

In [14]:
print ("El precio del producto es de", 15.20*1.21,"Euros")

El precio del producto es de 18.392 Euros

In [15]:
import math
print("La circunferencia con radio 20 mide: ")
print(2 * math.pi * 20)
print("Y su área es:")
print(math.pi * 20**2)
print("La raíz cuadrada de 16 es:")
print(math.sqrt(16))

La circunferencia con radio 20 mide:
125.66370614359172
Y su área es:
1256.6370614359173
La raíz cuadrada de 16 es:
4.0

In [16]:
import math
print(math.sqrt(25))

5.0

In [17]:
print(round(10.2*14.3,1))

145.9

In [18]:
print(round(2*math.pi*5**2+2*math.pi*5*22,2))

848.23

In [19]:
print(math.factorial(7))

5040

In [20]:
print(math.log(32,2))

5.0

In [21]:
print(math.sin(math.radians(270)))

-1.0

### VARIABLES

In [22]:
nombre="Jorge"
print(nombre)
nombre="Juan"
print(nombre)

numero=17
print(numero)
numero=54
print(numero)

Jorge
Juan
17
54

In [23]:
numero=numero*4
print(numero)
numero2=21
print(numero*numero2)

216
4536

In [24]:
a=2
b=a
c=a
print(a,b,c)
a="hola"
print(a,b,c)

2 2 2
hola 2 2

In [25]:
x=y=z=5
print(x,y,z)
x=2
y=3
z=4
x=y=z
print(x,y,z)

5 5 5
4 4 4

In [26]:
x,y,z=1,"patata",15.3
print(x,y,z)
x=45
y=78
print(x,y)
x,y=y,x
print(x,y)

aux=x
x=y
y=aux
print(x,y)

1 patata 15.3
45 78
78 45
45 78

In [27]:
a=3
a=a*2
print(a)
del a
print("a")
s="Hola"
b=s
print(b)
#b =a #ERROR
print(b)

6
a
Hola
Hola

In [28]:
nombre=input("Dime tu nombre:")
print("Tu nombre es",nombre)

Dime tu nombre: Jorge

Tu nombre es Jorge

In [29]:
print(nombre)

Jorge

In [30]:
edad=input("Dime tu edad:")

Dime tu edad: 26

In [31]:
print("Tienes",edad,"años")

Tienes 26 años

In [32]:
edad=eval(input("Dime tu edad:"))
print("Tienes",edad,"años")
edad=edad+15
print("Dentro de 15 años tendrás",edad,"años")

Dime tu edad: 26

Tienes 26 años
Dentro de 15 años tendrás 41 años

# Ejercicios Clase

## Ejercicios Nombres

In [33]:
nombre=input("Dime tu nombre:")
apellido1 = input("Dime tu primer apellido:")
apellido2 = input("Dime tu segundo apellido:")
print("Te llamas", nombre, apellido1, apellido2)

Dime tu nombre: Jorge
Dime tu primer apellido: Martinez
Dime tu segundo apellido: Escobar

Te llamas Jorge Martinez Escobar

## Ejercicios Numeros

In [34]:
numero1=eval(input("Dime un numero:"))
numero2=eval(input("Dime otro numero:"))
print(numero1,"+",numero2,"=",numero1+numero2)
print(numero1,"-",numero2,"=",numero1-numero2)
print(numero1,"*",numero2,"=",numero1*numero2)

Dime un numero: 43
Dime otro numero: 65

43 + 65 = 108
43 - 65 = -22
43 * 65 = 2795

# TIPO DE LAS VARIABLES

In [35]:
print(type(numero1))
print(type(nombre))
print(type(15.2))

<class 'int'>
<class 'str'>
<class 'float'>

In [36]:
var=3
print(type(var))
var=23.5
print(type(var))
var="hola"
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>

In [37]:
3<2

False

In [38]:
bool(3)

True

# STRINGS

In [39]:
print("That\'s all, folks")
print("""En un lugar de la Mancha 
de cuyo nombre no quiero acordarme""")

That's all, folks
En un lugar de la Mancha
de cuyo nombre no quiero acordarme

In [40]:
print(r"C:\\nindows\\tystem32")

C:\\nindows\\tystem32

In [41]:
quijote=("""En un lugar de la mancha 
de cuyo nombre no quiero acordarme\x67""")
print(len(quijote))
print(quijote.upper())
print(quijote.lower())

61
EN UN LUGAR DE LA MANCHA
DE CUYO NOMBRE NO QUIERO ACORDARMEG
en un lugar de la mancha
de cuyo nombre no quiero acordarmeg

# Ejercicios Extra Casa

### Ejercicio Cuenta

In [42]:
input("Dime la cuenta de la:")
input("Numero de Comensales:")

Dime la cuenta de la: 250
Numero de Comensales: 8

'8'

In [43]:
Cuenta=eval(input("Dime la cuenta de la:"))

Dime la cuenta de la: 250

In [44]:
Comensales=eval(input("Numero de Comensales:"))

Numero de Comensales: 8

In [45]:
print(Cuenta/Comensales)

31.25

### Ejercicio Strings

In [46]:
print("Este curso de Python me gusta")

Este curso de Python me gusta

In [47]:
Programación= """Este Curso de Python me gusta"""
print(len(Programación))
print(Programación.upper())
print(Programación.lower())

29
ESTE CURSO DE PYTHON ME GUSTA
este curso de python me gusta

In [48]:
str.capitalize("""Este curso de Python me gusta""")

'Este curso de python me gusta'

In [49]:
str.casefold("""Este curso de Python me gusta""")

'este curso de python me gusta'

# CLASE 17 DE NOVIEMBRE

In [50]:
nombre2=input("Nombre:")
Apellidos2=input("Apellidos:")
nombre_completo=nombre2+" "+Apellidos2
print(nombre_completo)
edad=26
nombre_completo=nombre_completo+str(edad)
print(nombre_completo)

Nombre: jorrge
Apellidos: martinez escobar

jorrge martinez escobar
jorrge martinez escobar26

In [51]:
print(nombre_completo[8:])

artinez escobar26

In [52]:
pos=eval(input("Dime una posición:"))

Dime una posición: 4

In [53]:
a="hola"
b="hola"
a=="hola"

True

In [54]:
print("El caracter en la posicion %i es%c" % (pos,nombre_completo[pos-8]))

El caracter en la posicion 4 esa

In [55]:
colores="rojo,verde,amarillo,azul"
colores.split(",")

['rojo', 'verde', 'amarillo', 'azul']

In [56]:
color1,color2,color3,color4=colores.split(",")
print(color1,color2,color3,color4)

rojo verde amarillo azul

In [57]:
print("Los colores son %s,%s,%s y %s"% (color1,color2,color3,color4))

Los colores son rojo,verde,amarillo y azul

In [58]:
import math

In [59]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [60]:
print(math.sqrt(25))

5.0

In [61]:
print(math.sqrt(90))

9.486832980505138

In [62]:
print(math.sqrt(math.pi))

1.7724538509055159

In [63]:
print(math.factorial(10))

3628800

In [64]:
from math import*
sqrt(25)
factorial(10)

3628800

# FECHAS

In [65]:
import datetime as dt
print(dt.date.today())
print(dt.datetime.now())
print(dt.date.today().weekday())
ahora=dt.datetime.now()
print(ahora.year,"/",ahora.month,"/",ahora.day)
print(("%i:%i:%i") % (ahora.hour,ahora.minute, ahora.second))

2020-11-17
2020-11-17 19:57:57.522099
1
2020 / 11 / 17
19:57:57

In [66]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [67]:
import statistics

In [68]:
valores=1,2,3,4
from statistics import*
mean(valores)

2.5

In [69]:
valoresd=25,48,55,67
from statistics import*
median(valoresd)

51.5

In [72]:
valoresx=2,3,45,78
from statistics import*
pvariance(valoresx)

1006.5

# Ejercicios Casa 17 Nov

In [14]:
texto="Estoy aprendiendo muchas cosas interesantes en este curso."
texto.split()
texto.split('as')
texto.count('a', 0, 33)
texto.find('as')
print(texto.upper())
print(texto.lower())
"Estoy aprendiendo muchas cosas interesantes en este curso".title()
len(texto)

ESTOY APRENDIENDO MUCHAS COSAS INTERESANTES EN ESTE CURSO.
estoy aprendiendo muchas cosas interesantes en este curso.

58

In [4]:
texto="Aprendemos Python en la UCM"
palabras=texto.split()
palabras

['Aprendemos', 'Python', 'en', 'la', 'UCM']

In [15]:
nombre=input("Dime tu nombre:")
apellidos=input("Dime tus apellidos:")
nombredef=nombre+" "+apellidos
print(nombredef)
len(nombredef)

Dime tu nombre: Jorge
Dime tus apellidos: Martínez Escobar

Jorge Martínez Escobar

22